<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<body>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> &copy;
                    <a href="https://egb.org.br/" target="_blank" class="text-reset">Boa Vista Cave</a>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Crafted by <i class="mdi mdi-heart text-danger"></i> by <a href="https://github.com/4ftermidnight" target="_blank" class="text-reset">AfterMidnight</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
