
.am-btn {
    .am-btn {
        @each $name, $color in $theme-colors {
            &__#{$name} {
            background: $color;
            color: complement($color);
            }
        }
    }
}


// Rounded Buttons
.btn-rounded {
    border-radius: 30px;
}

.btn-warning {
    color: #fff !important;
}

.btn-cancel {
    color: #fff !important;
    /* @import button-variant($am-btn-cancel-color; $am-btn-cancel-bg; $am-btn-cancel-border); */
}

.am-btn-link-danger {
    color: #fff !important;

    &:hover,
    &:focus,
    &:active {
        color: #009;
    }
}

.am-btn-thin-caret {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.am-btn-full-width {
    width: 100%;
}
