//am-btn.scss

button,
a {
    outline: none !important;
}

// Rounded Buttons
.btn-rounded {
    border-radius: 30px;
}

.btn-warning {
    color: #fff !important;
}


.btn-cancel {
    color: #fff !important;
}

.am-btn-link-danger {
    color: #fff !important;
    &:hover,
    &:focus,
    &:active {
        color: #009;
    }
}

.am-btn-thin-caret {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.am-btn-full-width {
    width: 100%;
}
