
.am-layout-simple-page {
    background-color: $am-layout-simple-page-bg;
}

.am-layout-simple-page__container {
    display: block;
    max-width: 420px;
    margin: auto;
    padding: 0 10px;
    padding-top: 10%;
}
